@font-face {
    font-family: 'Marck Script';
    src: local('Marck Script'), local('MarckScript-Regular'), url('../fonts/marckscript/marckscript.woff2') format('woff2'), url('../fonts/marckscript/marckscript.woff') format('woff'), url('../fonts/marckscript/marckscript.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
