<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__item flex-item">
        <div class="footer__logo">
          {{> logo}}
        </div>
        <div class="footer__text">
          Мы считаем, что настало время для людей, кто заботится о включённости, достоинстве и справедливости работать
          вместе, где
          бы они не были!
        </div>
        <div class="footer__policy">
          <a href="#">Политика конфиденциальности</a>
        </div>
        <div class="footer__copyright">Copyright Все права защищены</div>
      </div>
      <div class="footer__item item-2">
        <div class="footer__item-list">
          <div class="footer__item-title">
            Меню сайта
          </div>
          <ul>
            <li class="list-item">
              <a href="#">Анти-кризис</a>
            </li>
            <li class="list-item">
              <a href="#">Жилищная программа</a>
            </li>
            <li class="list-item">
              <a href="#">Обучение</a>
            </li>
            <li class="list-item">
              <a href="#">Маркетинг</a>
            </li>
            <li class="list-item">
              <a href="#">О компании</a>
            </li>
            <li class="list-item">
              <a href="#">Контакты</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__item item-3">
        <div class="footer__item-list">
        <div class="footer__item-contact">
          <div class="footer__phone">
            {{> phone}}
          </div>
          <div class="footer__mail">
            {{> mail}}
          </div>
        </div>
        <div class="footer__social">
          {{> socials}}
        </div>
        </div>

      </div>
    </div>
  </div>
</footer>