<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__logo">
        {{> logo }}
      </div>
      <div class="header__menu">
        <button class="burger" id="burger">
          <span></span>
        </button>
        <nav>
          <ul>
            <li><a href="#">Анти-кризис</a></li>
            <li><a href="#">Жилищная программа</a></li>
            <li><a href="#">Обучение</a></li>
            <li><a href="#">Маркетинг</a></li>
            <li><a href="#">О компании</a></li>
            <li><a href="#">Регистрация</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
        </nav>
      </div>
      <div class="header__phone">
        {{> phone }}
      </div>
    </div>
  </div>
</header>
