<div class="popup__overlay" id="callback-form">
  <div class="overlay__close" data-id="modal-close"></div>
  <div class="popup__body">
    <button class="popup__close" data-id="modal-close"></button>
    <div class="popup__title">
      Мы свяжемся с Вами в ближайшее время
    </div>
    <form class="form">
      <input type="text" class="form__input" placeholder="Имя*">
      <input type="text" class="form__input" placeholder="Телефон*">
      <div class="form__policy">
        <label>
          <input type="checkbox">
          <span></span>
        </label>
        <div class="form__policy-text">
          Я согласен на обработку <a href="">персональных данных</a> и с условиями <a href="">пользовательского
            соглашения</a>
        </div>
      </div>
      <div class="form__btn">
        <button type="submit" class="btn btn-primary">Отправить</button>
      </div>
    </form>
  </div>
</div>