@font-face {
    font-family: 'Rubik';
    src: local('Rubik Light'),
    local('Rubik-Light'),
    url('../fonts/rubik/Rubiklight.woff2') format('woff2'),
    url('../fonts/rubik/Rubiklight.woff') format('woff'),
    url('../fonts/rubik/Rubiklight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: local('Rubik'),
    local('Rubik-Regular'),
    url('../fonts/rubik/Rubik.woff2') format('woff2'),
    url('../fonts/rubik/Rubik.woff') format('woff'),
    url('../fonts/rubik/Rubik.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: local('Rubik Medium'),
    local('Rubik-Medium'),
    url('../fonts/rubik/Rubikmedium.woff2') format('woff2'),
    url('../fonts/rubik/Rubikmedium.woff') format('woff'),
    url('../fonts/rubik/Rubikmedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: local('Rubik Bold'),
    local('Rubik-Bold'),
    url('../fonts/rubik/Rubikbold.woff2') format('woff2'),
    url('../fonts/rubik/Rubikbold.woff') format('woff'),
    url('../fonts/rubik/Rubikbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: local('Rubik Black'),
    local('Rubik-Black'),
    url('../fonts/rubik/Rubikblack.woff2') format('woff2'),
    url('../fonts/rubik/Rubikblack.woff') format('woff'),
    url('../fonts/rubik/Rubikblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

